img {
    max-height: 100%;
    width: auto;
}

.space {
    margin-bottom: 20px;
}

.arrosage {
    font-size: 170%;
    color: blue;
}

.exposition {
    font-size: 170%;
    color: rgb(255, 183, 0);
}

.container-img-plant {
    text-align: center;
    height: 15rem;
}