<div class="card">
  <a type="button" [routerLink]="['plant/details/', plant.id]">
    <div class="container-img-plant">
      <img [src]="plant.image" class="card-img-top" [alt]="plant.nom" />
    </div>

    <div class="card-body">
      <h5 class="card-title text-truncate" [title]="plant.nom">{{ plant.nom }}</h5>
      <p class="card-text">{{ plant.categorie }}</p>

      <div class="space d-flex justify-content-around">
        <div class="centre">
          <p><strong>Arrosage</strong></p>
          <app-icon class="arrosage" [iconName]="'droplet'" [iconColor]="'blue'" [iconSize]="2"></app-icon>
          <app-icon class="arrosage" [iconName]="'droplet'" [iconColor]="'blue'" [iconSize]="2"></app-icon>
          <app-icon class="arrosage" [iconName]="'droplet'" [iconColor]="'blue'" [iconSize]="2"></app-icon>
        </div>
        <div>
          <p><strong>Exposition</strong></p>
          <app-icon class="exposition" [iconName]="'sun'" [iconColor]="'orange'" [iconSize]="2"></app-icon>
          <app-icon class="exposition" [iconName]="'sun'" [iconColor]="'orange'" [iconSize]="2"></app-icon>
          <app-icon class="exposition" [iconName]="'sun'" [iconColor]="'orange'" [iconSize]="2"></app-icon>
        </div>
      </div>

      <a href="#" class="btn btn-success">Je l'ai !</a>
    </div>
  </a>

</div>