.container-plants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* gap: 2rem; */
    padding: 1.5rem;
    /* p-4 de bootstrap*/
    padding-top: 0;
}

.one-plant {
    width: 32%;
    margin-bottom: 1.5rem;
}

.container-search-bar {
    padding: 1.5rem;
    /* p-4 de bootstrap*/
}

@media (min-width: 1200px) {
    .one-plant {
        width: 23%;
    }
}