.container-plants {
    text-align: center;
    margin-top: 5rem;
}

.space {
    margin-left: 20em;
    margin-right: 20em;
    margin-top: 1em;
}

.btn {
    margin-left: 5em;
    margin-top: 3em;
}