<div class="custom-side-bar border-end">
  <div class="p-3">
    <span class="fs-5 fw-semibold">Filtres</span>
  </div>
  <hr>
  <div class="px-3">
    <p class="fs-5 fw-semibold">Catégorie</p>
    <div class="form-check" *ngFor="let category of categoriesToDisplay">
      <input class="form-check-input" type="checkbox" value="{{category}}" id="{{category}}"
        (change)="onCheckedCategories($event)">
      <label class="form-check-label" for="{{category}}">
        {{category}}
      </label>
    </div>
    <hr>
    <div>
      <p class="fs-5 fw-semibold">Arrosage</p>
      <div class="form-check" *ngFor="let Arrosage of arrosageToDisplay">
        <input class="form-check-input" type="checkbox" value="{{Arrosage}}" id="{{Arrosage}}">
        <label class="form-check-label" for="{{Arrosage}}">{{Arrosage}}
        </label>
      </div>
      <hr>
      <div>
        <p class="fs-5 fw-semibold">Ensoleillement</p>
        <div class="form-check" *ngFor="let Soleil of ensoleillementToDisplay">
          <input class="form-check-input" type="checkbox" value="{{Soleil}}" id="{{Soleil}}">
          <label class="form-check-label" for="{{Soleil}}">{{Soleil}}
          </label>
        </div>
      </div>
    </div>