<h1>Page Admin plandex</h1>

<table class="table">
    <thead>
        <th>Nom</th>
        <th>Image</th>
        <th>Catégorie</th>
        <th>Besoin d'ensoleillement</th>
        <th>Besoin d'arrosage</th>
    </thead>
    <tbody>
        <tr *ngFor="let plant of plantsToDisplay">
            <td>{{ plant.nom }}</td>
            <td><img src="{{ plant.image }}" alt="{{ plant.image }}" style="max-width: 80px; max-height: 80px">
            </td>
            <td>{{ plant.categorie }}</td>
            <td>{{ plant.arrosage }}</td>
            <td>{{ plant.soleil }}</td>
        </tr>
    </tbody>
</table>