<h1>Page Admin plandex</h1>

<button class="bouton btn btn-success" routerLink="new-plant">Ajouter une plante</button>
<!-- ou [routerLink]="new-plant" -->
<!-- ou routerLink="/admin/new-plant" -->
<table class="table table-success table-striped">
    <thead>
        <th class="h3">Nom</th>
        <th class="h3">Image</th>
        <th class="h3">Catégorie</th>
        <th class="h3">Ensoleillement</th>
        <th class="h3">Arrosage</th>
        <th class="h3">Edit</th>
        <th class="h3">Supprimer</th>
    </thead>
    <tbody>
        <tr *ngFor="let plant of plantsToDisplay">
            <td class="h3">{{ plant.nom }}</td>
            <td><img src="{{ plant.image }}" alt="{{ plant.image }}" style="max-width: 80px; max-height: 80px">
            </td>
            <td class="h4">{{ plant.categorie }}</td>
            <td class="h4">{{ plant.soleil }}</td>
            <td class="h4">{{ plant.arrosage }}</td>
            <td>
                <button class="btn" [routerLink]="['plant/edit/', plant.id]">
                    <app-icon [iconName]="'pencil-square'" [iconColor]="'blue'" [iconSize]="2"></app-icon>
                </button>
            </td>
            <td>
                <button class="btn" (click)="onClickDeletePlant(plant.id)">
                    <app-icon [iconName]="'trash'" [iconColor]="'red'" [iconSize]="2"></app-icon>
                </button>
            </td>
        </tr>
    </tbody>
</table>